@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common
@using Microsoft.AspNetCore.Http.Extensions
@model X.PagedList.IPagedList<GraniteHouse.Models.Products>
@{
    ViewData["Title"] = "ProductsByCategory";
}


<div class="container body-content">
    <br />

    <h2 class="text-info">@ViewBag.Category </h2>
    <br />
    <div class="row">


        @foreach (var product in Model)
        {

            <div class="col-3">
                <div class="card mb-3" style="border:none">
                    <div class="card-header" style="height:55px;border:none">
                        @{
                            decimal newPrice = (product.Price - ((product.Price * product.Discount) / 100));
                        }
                        @if (product.Name.Length > 14)
                        {
                            <h4 class="my-0 font-weight-normal">
                                <a style="font-size:23px;text-decoration:none" class="text-dark" asp-action="Details" asp-controller="Home" asp-route-id="@product.Id" data-toggle="tooltip" title="@product.Name">@product.Name.Substring(0, 10) . . .</a>
                            </h4>
                        }
                        else
                        {
                            <h4 class="my-0 font-weight-normal">
                                <a style="font-size:23px;text-decoration:none" class="text-dark" asp-action="Details" asp-controller="Home" asp-route-id="@product.Id">@product.Name</a>
                            </h4>
                        }
                    </div>
                    <div class="offer-img">
                        <img class="card-img-top" style="height:100%;" src="@product.Image" alt="Card Image" />
                        @if (product.Price > newPrice)
                        {
                            <div class="offer"><p><span>- @product.Discount %</span></p></div>
                        }
                        else
                        {

                        }
                    </div>

                    <div class="card-body">
                        <div class="text-center">
                            @if (product.Price > newPrice)
                            {
                                string p = String.Format("{0:0,0}", product.Price);
                                if (p.Length > 4)
                                {

                                    <label data-toggle="tooltip" title="@p" style="font-size:20px; color:gray;text-align:center"><del><b>@p.Substring(0, 3). . . đ</b></del></label>
                                    <label style="font-size:20px; color:#a51313;text-align:center"><b>@String.Format("{0:0,0}", newPrice) đ</b></label>
                                }
                            }
                            else
                            {
                                <label style="font-size:20px; color:#a51313;text-align:center"><b>@String.Format("{0:0,0}", product.Price) đ</b></label>
                            }
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            @if (product.Available)
                            {
                                <a style="width:100px;font-size:12px;" asp-action="AddToShoppingCart" asp-controller="ShoppingCart" class="btn btn-success pull-right btn-outline-dark" asp-route-productId="@product.Id" asp-route-strUrl="@Context.Request.GetDisplayUrl()"><i class="fas fa-shopping-cart"></i> Add To Cart</a>
                            }
                            else
                            {
                                <a style="width:100px;font-size:12px;" asp-action="AddToShoppingCart" asp-controller="ShoppingCart" class="btn btn-success pull-right btn-outline-dark" asp-route-productId="@product.Id" asp-route-strUrl="@Context.Request.GetDisplayUrl()"><i class="fas fa-shopping-cart"></i> Add To Cart</a>
                            }

                            <a style="width:100px;font-size:12px;" asp-action="Details" asp-controller="Home" class="btn btn-success pull-right btn-outline-dark" asp-route-id="@product.Id"><i class="fas fa-eye"></i> View Details</a>
                        </div>

                    </div>

                </div>
            </div>
        }

    </div>
    @Html.PagedListPager(Model, page => Url.Action("ProductsByCategory", "Home", new { page }), new PagedListRenderOptions { FunctionToTransformEachPageLink = (liTag, aTag) => { aTag.Attributes.Add("class", "page-link".ToString()); return aTag; }, LiElementClasses = new[] { "page-item" }, UlElementClasses = new[] { "pagination  justify-content-center" } })

</div>
<br />
<style>

    .card {
        position: relative;
        background-color: #fff;
        border-radius: 5px;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

        .card::after {
            content: "";
            border-radius: 5px;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
            opacity: 0;
            -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .card:hover::after {
            opacity: 0.7;
        }

    .offer-img {
        position: relative;
        display: block;
    }

    .offer {
        position: absolute;
        top: 0;
        right: -15px;
        border: 2px solid #ED0612;
        border-radius: 100px 0 0 100px;
        padding: 2px;
        height: 23px;
    }

        .offer p {
            background: #ED0612;
            border-radius: 100px 0px 0px 100px;
            text-align: center;
            line-height: 0em !important;
            font-size: 0.9em !important;
            padding: 7px;
        }

        .offer span {
            color: #fff;
            font-size: 11px;
            text-align: center;
            display: inline-block;
            font-weight: bold;
        }

    .offer {
        right: -8px;
    }

    .disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>